$font = Arial, '微軟正黑體', 'Microsoft JhengHei', 'LiHei Pro';

$smallScreen = 'screen and (max-width 1216px)';
$tablet = 'screen and (max-width 1016px)';
$mobile = 'screen and (max-width 767px)';
$fourInch = 'screen and (max-width 375px)';



// color variable


*
	box-sizing border-box
	
a
	text-decoration none

img
	max-width 100%

//animation mixins


//@require 'animation';